# Hallo
## *Sesi Pagi*

In [1]:
print ("hello world")

hello world

In [3]:
#concate
s1 = "hello"
s2 = "kepo"
print (s1 + " " +s2)

hello kepo

In [5]:
#repetisi
print("hello " * 3)
print(s1[1] * 5)

hello hello hello
eeeee

# *Strings*

## Creating Strings

In [2]:
# Single word
print('hello')
print()
# Used to have a line space between two sentences. Try deleting this line & seeing the difference.
# Entire phrase
print('The spaceing is also a string')

hello

This is also a string

## Variable

In [3]:
s = 'New York'
print(s)
print(type(s))
print(len(s)) # mencari panjang dari string

New York
<class 'str'>
8

## String Indexing

In [5]:
# Assign s as a string
s = 'Hello World'
# Print the object
print(s)
print()
# Show first element (in this case a letter)
print(s[0])#dimulai dari nol karena 0 di hitung di awal hitungan
print()
# Show the second element (also a letter)
print(s[1])#sedangkan 1  itu di hitung ke dua dari hitungan

Hello World

H

e

## String Concatenation dan Repetition

In [6]:
# concatenation (addition)
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)

Hello World

In [7]:
# repetition (multiplication)
print("Hello_" * 3)
print("-" * 10)

Hello_Hello_Hello_
----------

## String Slicing & Indexing
**String Indexing** is used to to select the letter at a particular index/position.
**String Slicing** is a process to select a subset of an entire string

In [9]:
s = "Namaste World"
# print sub strings
print(s[1]) #This is indexing.
print(s[6:11]) #This is known as slicing.
print(s[-5:-1])
# test substring membership
print("Wor" in s)

a
e Wor
Worl
True

## Basic Built-in String methods

In [11]:
s = "Hello World"
print(s.upper()) ## Convert all the element of the string to Uppercase..!!
print(s.lower()) ## Convert all the element of the string to Lowercase..!!

HELLO WORLD
hello world

## Print Formatting

In [13]:
name = "Einstein"
age = 22
married = True
print("My name is %s, my age is %s, and it is %s that I am married" %(name, age, married))
print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Einstein, my age is 22, and it is True that I am married
My name is Einstein, my age is 22, and it is True that I am married

# *Number*

## Types of numbers

### Basic Arithmetic

In [15]:
# Addition
print(2+1)
# Subtraction
print(2-1)
# Multiplication
print(2*2)
# Division
print(3/2)

3
1
4
1.5

### Arithmetic continued

In [17]:
# Powers
2**3

8

In [18]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [19]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

## Variable Assignments

In [21]:
# Let's create an object called "a" and assign it the number 5
a = 5
# Adding the objects
a+a

10

In [22]:
# Reassignment
a = 10
# Check
a

10

## *Sesi Sore*

# Data Types & Data Structures

## *Identifying Data Types*

In [23]:
a = 42
b = 32.30
print(type(a))#gets type of a
print(type(b))#gets type of b

<class 'int'>
<class 'float'>

## Lists

In [25]:
my_list = ['A string',23,100.232,'o']
len(my_list)

4

### Adding New Elements to a list

In [26]:
my_list = ['one','two','three',4,5]
# append a value to the end of the list
l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)
[1, 2.3, ['a', 'b'], 'New York', 3.1]
# extend a list with another list.
l = [1, 2, 3]
l.extend([4, 5, 6])
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]
[1, 2, 3, 4, 5, 6]

### Slicing

In [29]:
lst = list(range(10)) # create a list containing 10 numbers starting from 0
print(lst)
print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2])
# prints elements from index 0 till last index with a step of 2
print("every third element, starting at index 1:", lst[1::3])
# prints elements from index 1 till last index with a step of 3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]
every third element, starting at index 1: [1, 4, 7]

#### Tambahan yang bisa di gunakan dalam list
.append: add element to end of list

.insert: insert element at given index

.extend: extend one list with another list

## Dictionaries

### Constructing a Dictionary

In [30]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}
# Call values by their key
my_dict['key2']

'value2'

In [31]:
my_dict['key1']=123
my_dict

{'key1': 123, 'key2': 'value2'}

In [32]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123
#Check
my_dict['key1']

0

In [33]:
# Set the object equal to itself minus 123
my_dict['key1'] -= 123
my_dict['key1']

-123

In [34]:
# Create a new dictionary
d = {}
# Create a new key through assignment
d['animal'] = 'Dog'

In [35]:
d

{'animal': 'Dog'}

## Set and Booleans

### Sets

In [36]:
x = set()
# We add to sets with the add() method
x.add(1)
#Show
x

{1}

In [37]:
# Add a different element
x.add(2)
#Show
x

{1, 2}

In [38]:
# Try to add the same element
x.add(1)
#Show
x

{1, 2}

In [39]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]
# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6}