##encapsulation

In [ ]:
class KTP(object):
    
    def __init__(selfie, input_nomor, input_nama, input_usia, input_lahir):
        selfie.nomor = input_nomor
        selfie.nama = input_nama
        selfie.usia = input_usia
        selfie.lahir = input_lahir
        

        
    def display(selfie):
        print(selfie.nomor)
        print(selfie.nama)
        print(selfie.usia)
        print(selfie.lahir)

    def info(selfie):
        print(f"no: {selfie.nomor}, nama: {selfie.nama}, usia: {selfie.usia}, tempat: {selfie.lahir}")


info_ktp = KTP(1234562346, "timothy", 19, "manado")

info_ktp.display()
info_ktp.info()

1234562346
gelyen
18
manado
no: 1234562346, nama: gelyen, usia: 18, tempat: manado

In [ ]:
class SIM(object):
    
    def __init__(selfie, input_nama, input_usia, input_kelamin, input_jenis):
        selfie.nama = input_nama
        selfie.usia = input_usia
        selfie.gender = input_kelamin
        selfie.jenis = input_jenis


    def kriteria(selfie):
      if (selfie.jenis == "A"):
        print("Kriteria SIM "+ selfie.jenis +" untuk kendaraan beroda 4")
      elif (selfie.jenis == "C"):
        print("Kriteria SIM "+selfie.jenis+" untuk kendaraan beroda 2")
      else:
        print("jenis tidak di ketahui")

    def info(selfie):
        print(f"nama: {selfie.nama}, usia: {selfie.usia}, warna: {selfie.gender}, jenis: {selfie.jenis}")


kucing1 = SIM("timothy", 19, "pria", "A")

kucing1.info()
kucing1.kriteria()

nama: timothy, usia: 19, warna: pria, jenis: A
Kriteria SIM A untuk kendaraan beroda 4

In [ ]:
class KTM(object):
    
    def __init__(selfie, input_nim, input_nama, input_usia, input_fakultas, input_jurusan):
        selfie.nim = input_nim
        selfie.nama = input_nama
        selfie.usia = input_usia
        selfie.fakultas = input_fakultas
        selfie.jurusan = input_jurusan
        

        
    def display(selfie):
        print(selfie.nim)
        print(selfie.nama)
        print(selfie.usia)
        print(selfie.fakultas)
        print(selfie.jurusan)

    def info(selfie):
        print(f"NIM: {selfie.nim}, Nama: {selfie.nama}, Usia: {selfie.usia}, Fakultas: {selfie.fakultas}, Jurusan: {selfie.jurusan}")


info_ktm = KTM(672018187, "timothy", 19, "Teknik Informasi", "Teknik Informatika")

info_ktm.display()
info_ktm.info()

672018187
timothy
18
Teknik Informasi
Teknik Informatika
NIM: 672018187, Nama: timothy, Usia: 18, Fakultas: Teknik Informasi, Jurusan: Teknik Informatika

##inheritence

In [ ]:
class cek_pajak(object):
    def __init__(selfie, nama, usia):
        selfie.nama = nama
        selfie.usia = usia


    def kecukupan(selfie, umur):
        if(umur < 20):
            print("Belum membayar pajak")
        else:
          print("Bayar Pajak")

    def info(selfie):
        print(f"nama: {selfie.nama}, usia: {selfie.usia}")


Kartu = cek_pajak("Timothy", 19)

Kartu.info()

nama: Timothy, usia: 19

In [ ]:
class KTP(cek_pajak):
    def __init__(selfie, nomor, nama, usia, tempat_lahir):
        super().__init__(nama, usia)
        selfie.nomor = nomor
        selfie.tempat_lahir = tempat_lahir

    def cukup(selfie):
        super().kecukupan(selfie.usia)
        print("........")

    def info_ktp(selfie):
        super().info()
        print(f"No KTP: {selfie.nomor}, Tempat Lahir: {selfie.tempat_lahir}")

ktp = KTP(123456789, "Garry", 20, "Manado")

ktp.info_ktp()
ktp.cukup()

nama: Garry, usia: 20
No KTP: 123456789, Tempat Lahir: Manado
Bayar Pajak
........

In [ ]:
class SIM(cek_pajak):
    def __init__(selfie, nama, usia, kelamin, jenis):
        super().__init__(nama, usia)
        selfie.gender = kelamin
        selfie.jenis_sim = jenis

    def cukup(selfie):
        super().kecukupan(selfie.usia)
        print("SIM ",selfie.jenis_sim)

    def info_sim(selfie):
        super().info()
        print(f"Jenis Kelamin: {selfie.gender}, Kriteria SIM: {selfie.jenis_sim}")

sim = SIM("gelyen", 19, "Pria", "A")

sim.info_sim()
sim.cukup()

nama: gelyen, usia: 19
Jenis Kelamin: Pria, Kriteria SIM: A
Belum membayar pajak
SIM  A

In [ ]:
class KTM(cek_pajak):
    def __init__(selfie, nim, nama, usia, fakultas, jurusan):
        super().__init__(nama, usia)
        selfie.nim = nim
        selfie.fakultas = fakultas
        selfie.jurusan = jurusan

    def cukup(selfie):
        super().kecukupan(selfie.usia)
        print(selfie.fakultas, "" , selfie.jurusan)

    def info_ktm(selfie):
        super().info()
        print(f"nim: {selfie.nim}, fakultas: {selfie.fakultas}, jurusan: {selfie.jurusan}")

ktm = KTM(672018187,"astaroth", 21, "FTI", "Teknik Informatika")

ktm.info_ktm()
ktm.cukup()

nama: astaroth, usia: 21
nim: 672018187, fakultas: FTI, jurusan: Teknik Informatika
Bayar Pajak
FTI  Teknik Informatika

##Abstraction

In [43]:
from abc import abstractmethod, ABC

In [44]:
class alarm(ABC):
    @abstractmethod
    def tugas(selfie):
        pass
        
class pagi(alarm):
    def tugas(selfie):
        print("bangun pagi")
        
        
class siang(alarm):
    def  tugas(selfie):
        print("makan siang")

class tidur(alarm):
    def tugas(selfie):
        print("waktunya tidur")


morning = pagi()
morning.tugas()

noon = siang()
noon.tugas()

night = tidur()
night.tugas()

bangun pagi
makan siang
waktunya tidur

In [49]:
class elektronik(ABC):
    @abstractmethod
    def tugas(selfie):
        pass
        
class televisi(elektronik):
    def tugas(selfie):
        print("TV Menyala")
        
        
class rice_cooker(elektronik):
    def  tugas(selfie):
        print("Nasi telah masak")

class remot(elektronik):
    def tugas(selfie,remote):
        print("Remote Tv Di Channel", remote)


tivi = televisi()
tivi.tugas()

penanak = rice_cooker()
penanak.tugas()

remot1 = remot()
remot1.tugas(5)

TV Menyala
Nasi telah masak
Remote Tv Di Channel 5

In [50]:
class keluarga(ABC):
    def cetak():
        print("Pekerjaan Keluarga")

    
    @abstractmethod
    def tugas(self):
        pass
    
class ayah(keluarga):
    def tugas(self):
        print("ayah sedang beri makan hewan")
        
class ibu(keluarga):
    def tugas(self):
        print("ibu sedang memasak")

class anak(keluarga):
    def tugas(self, a, b):
      hasil = a+b
      print("anak belajar pertambahan "+str(a)+"+"+str(b)+" =", hasil)

In [51]:
bapak = ayah()
bunda = ibu()
adek = anak()

keluarga.cetak()


bapak.tugas()
bunda.tugas()
adek.tugas(20,10)

Pekerjaan Keluarga
ayah sedang beri makan hewan
ibu sedang memasak
anak belajar pertambahan 20+10 = 30

##Polymorphism

In [52]:
class Binatang(object):
  def __init__(self, nama, usia, jenis, mamalia):
    self.nama = nama
    self.usia = usia
    self.jenis = jenis
    self.mamalia = mamalia

  def tidur(self, durasi):
    for x in range(durasi):
      print("ddrrr... ddrrr... ")

  def info(self):
    print(f"nama: {self.nama}, usia: {self.usia}, jenis: {self.jenis}, mamalia: {self.mamalia}")


class Ikan(Binatang):
  def __init__(self,  nama, usia, jenis, mamalia, warna, jenis_air, jenis_ikan):
    super().__init__(nama, usia, jenis, mamalia)
    self.warna = warna
    self.jenis_air = jenis_air
    self.jenis_ikan = jenis_ikan
  
  def berenang(self, durasi):
    print("wushh... wush... ")

  def info_ikan(self):
    print(f"warna: {self.warna}, jenis ikan: {self.jenis_ikan}, jenis air: {self.jenis_air}")

class Panda(Binatang):
  def __init__(self, nama, usia, jenis, mamalia, warna):
    super().__init__(nama, usia, jenis, mamalia)
    self.warna = warna
  
  def makan_bambu(self, tangkai):
    if tangkai >=5 :
      print("kenyaang")
    else:
      print("lapaar")

fish1 = Ikan("Jago", 2, "omnivora", False, "Merah Putih", "Tawar", "Cupang")

fish1.info()
fish1.info_ikan()
fish1.tidur(5)


panda1 = Panda("Poo", 4, "herbivora", True, "Putih Hitam")

panda1.info()
panda1.tidur(2)
panda1.makan_bambu(5)

nama: Jago, usia: 2, jenis: omnivora, mamalia: False
warna: Merah Putih, jenis ikan: Cupang, jenis air: Tawar
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...
nama: Poo, usia: 4, jenis: herbivora, mamalia: True
ddrrr... ddrrr...
ddrrr... ddrrr...
kenyaang